.profile {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 0;
  background: rgb(227, 236, 235);
}
.description {
  /* display: block; */
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.avatar {
  margin-bottom: 20px;
  width: 150px;
  border-radius: 50%;
}

.name {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  color: rgb(7, 7, 31);
}
.user {
  font-size: 16px;
  font-weight: 400;
}

.user:nth-last-child(2) {
  margin-bottom: 10px;
}
.stats {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 33%;
  padding: 8px;
  border: 1px solid #c2c6eb;
  background-color: rgb(22, 184, 196);
  font-size: 16px;
  font-weight: 500;
  color: rgb(6, 14, 14);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
