.statistics {
  padding-top: 40px;
}

.title {
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

.statLlist {
  display: flex;

  justify-content: center;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}

.item {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  flex-basis: calc(100% / 5);
  justify-content: center;
  padding: 8px;
  border: 1px solid wheat;
  background-color: rgb(22, 184, 196);
}

.percentage {
  font-size: 18px;
}
