.table {
  text-align: center;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 800px;
  padding: 0;
  border: 1px solid black;
}

.head {
  font-size: 18px;
  color: rgb(121, 4, 72);
  background: rgb(197, 241, 86);
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #2a2a2a;
}

.data::first-letter {
  text-transform: uppercase;
}

tr:nth-child(2n) {
  background: rgb(224, 220, 220);
}
